body{
  background-image: url("https://wallpaperaccess.com/full/2092839.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: blue;
}

div:focus{
  outline: none !important;
}

@media screen and (max-width: 414px){   
  .App{       
      width: 414px;
      height: 600;           
  }
}
