.carta{
    width: 125px;
    height: 125px;   
    background-color: coral;
}

.portada{
    width: 125px;
    height: 125px;   
    background-color: coral;
}

.contenido{
    width: 125px;
    height: 125px;   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cyan;
}

.ReactFlipCard{
    width: 100%;
    height: 100%;   
}