header{
    height: 50px;
    border: 1px solid black;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.titulo{
    font-size: 25px;
    padding: 10px;
    color: rgb(9, 2, 39);
}

.boton-reiniciar{
    background-color: rgb(202, 32, 137);
    border-radius: 8px;
    width: 130px;
    height: 30px;
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 58px; 
    color:white;   
    border:0px;
}